.bg-Primary-Cursos{

    background-image: url(../img/Belgrano2222.jpg);

}

@media all and (max-width: 760px){

    .bg-Primary-Cursos{
        background-size: 50rem;
    }

}

.boot-Cursos{
    padding: 1.5vh 1.5vw;
    margin: 50vh 0 20vh;
    margin-left: 5vw;
    width: 90vw;
    height: 100%;
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: $shadow-standard;
    img{
        width: cover;
        height: 13rem;
    };
}


.slide{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    height: auto;
}

#img-Belgrano{
    height: 80vh;
}

#img-Caballito{
    height: 80vh;
}

#img-Mataderos{
    height: 80vh;
}

