@import "Variables";

// Estilos varios

body{
    font-family: 'Raleway', sans-serif;
    background-color: $primary-color;
    margin: 0;
    color: #ffffff;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3vw;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h5{
    font-size: 1.5rem;
}

.upp{
    text-transform: uppercase;
}

.title{
    font-family: 'Fredericka the Great', cursive;
    text-shadow: $shadow-standard;
}

.relevant{
    @extend .title
}

.text{
    font-size: 1rem;
}


/* sigue background de fondo principal */

.bg-Primary-Index{
    background-image: url(../img/backgroundIndex.png);
    filter: opacity(0.7);
}

@media all and (max-width: 760px){
    
    .bg-Primary-Index{
    background-size: 50rem;
    }
}

/* Estilo Logo + Menu (Header) */

.containerHeader{
    &:hover{
        transition: 0.5s;
        background-color: $secondary-color;
        box-shadow: $shadow-standard;
    }
}

.listMenu{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem;
    .navbar-nav{
        .nav-link{
            color: #ffffff;
            padding: 40px;
            text-shadow: $shadow-standard;
                &:hover{
                    color: rgba(0, 238, 255, 0.548);
                }
            }
    }
}

.containerLogo{
    width: 6rem;
    height: 6rem;
    margin-left: 2vw;
}

@media all and (max-width: 991px){

    .containerHeader{
        background-color: $secondary-color;
        box-shadow: $shadow-standard;
    }

    .listMenu{
        justify-content: flex-start;
    }
}

// Primer Contenedor Index

.first-Content-Index{
    margin-top: 20vh;
    margin-right: 30vw;
}

@media all and (max-width: 768px){

    .first-Content-Index{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title{
            font-size: 3rem;
            padding-left: 2vw;
            text-align: center;
        }
    }
}

// Contenido en caja uno

 .content-In-Box-Index{
    height: 47vh;
    width: 27vw;
    margin-left: 60vw;
    margin-top: 20vh;
} 

@media all and (max-width: 890px){

    .content-In-Box-Index{
        margin: 30vh 10vw;
        height: 20rem;
        width: 80vw;
    }
}

// Fin Contenedor Uno 

//  Sigue contenedor de subtitulo

.subtitle{
    margin-top: 18vh;
    margin-left: 10vw;
}

//  Fin contenedor Subtitulo 

// Contenedor Travels/

.box-Container-Travels{
    margin-top: 20vh;
    padding: 0 5px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;  
    background-color: $secondary-color;
    .container-Img{
        width: 60rem;
        img{
            width: 100%;
        }
    }
    .container-Text-Travels{
        padding: 0 20px;
    }

}

@media all and (max-width: 768px){

    .box-Container-Travels{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        .container-Img{
            width: 100%;
        }
    }

}
// Fin contenedor Travels

// Contenedor Certificados

.box-Container-Cert{
    margin-top: 5vh;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .certificate{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../img/bottom-of-the-sea.jpg);
        background-position: center;
        background-size: cover;
    }
}

// Fin Contenedor Certificados

// Contenedor Video + boton accion

.container-Button-Video{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    background-color: $secondary-color;
    .container-Button-Accion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content-Video{
        width: 40rem;
            video{
                width: 100%;
            }
     }
}

// fin contenedor

/* Footer */

.container-Footer{
    background-color: darken($secondary-color, 15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    .content-Nav-Footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        flex-wrap: wrap;
        
    }
    .container-Logo-Redes{
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        .container-Logo-Footer{
            width: 10rem;
            img{
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 760px){
    
    .container-Footer{
    text-align: center;
    }
}



/* Estilo view El instituto */


@import "El-Instituto";


/* Estilo View Cursos */

@import "Cursos";

/* style view Actividades */

@import "Actividades";


/* Style view "contacto" */

@import "Contacto";

